.head{
    margin-left: 630px;
}

.Profile {
    margin-left: 520px;
}
.name{
    margin-left: 660px;
}
.name2{
    margin-left: 505px;
}
.name3{
    margin-left: 545px;
}
.name4{
    margin-left: 415px;
}
.name5{
    margin-left: 425px;
}
.W{
    margin-left: 690px;
    margin-top: 50px;
}
.Work{
    margin-left: 450px;
}
.WW{
    margin-left: 600px;
    margin-top: 50px;
}
.O{
    text-align: left;
    margin-left: 100px;
}
.A{
    margin-top: -610px;
    text-align: right;
    margin-right: 200px;
}
.WP{
    margin-left: 150px;
}
.WA{
    margin-left: 870px;
    margin-top: -90px;
}
.social{
    margin-top: 50px;
}
.G{
    margin-top: -25px;
    margin-left: 40px;
}
.Ig{
    margin-top: -25px;
    margin-left: 40px;
}